<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	{% include "../components/style.html" %}

</head>
<body>
	{% include "../components/nav-bar.html" %}

{% block content %}

  {% if form.errors %}
    {{ form.errors }}
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <div class="row">
  <div class="col"></div>
	<div class="col">
  {% load crispy_forms_tags %}
  <h1>Login Page</h1>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="login" class="btn btn-primary" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
  <div class="col"></div>
	</div>
{% endblock %}

   {%include "../components/footer.html"%}

</body>
</html>