<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication -->
<!DOCTYPE html>
<html lang="en">
<head>
  	{% include "../components/style.html" %}

</head>
<body>
  {% include "../components/nav-bar.html" %}
  <div class="container p-5">
    <div class="d-flex justify-content-center">
      {% block content %}
        {% if form.errors %}
          {{ form.errors }}
        {% endif %}

        {# if next #}
          {% if request.user.is_authenticated %}
            <!--p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p-->
            <p>You already seem to be logged in, is this not your account? Click here to <a href="{% url 'logout' %}">Log Out.</a></p>
          {% else %}
            <!--p>Please login to see this page.</p-->
          {# endif #}
        {# endif #}
        <div class="container p-5">
          <div class="row-md-12 mx-auto" align="center" style="max-width:500px">
            {% load crispy_forms_tags %}
            <h1>Login Page</h1>
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="login" class="btn btn-primary" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          </div>
          <div class="col"></div>
        </div>    
        {% endif %}
      {% endblock %}
    </div>
  </div>
  {%include "../components/footer.html"%}
</body>
</html>