<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication -->
<!DOCTYPE html>
<html lang="en">
<head>
  	{% include "../components/style.html" %}

</head>
<body>
  {% include "../components/nav-bar.html" %}
  <div class="container p-5">
    
    {% block content %}

    {% if form.errors %}
      {{ form.errors }}
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, 
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
      <p>You already seem to be logged in, is this not your account? 
        Click here to <a href="{% url 'logout' %}">Log Out.</a>
    {% else %}
      <div class="d-flex justify-content-center">
        <h1>Login Page</h1>
      </div>
      <div class="d-flex justify-content-center">
        {% load crispy_forms_tags %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="login" class="btn btn-primary" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
      <div class="d-flex justify-content-center">
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      </div>
      <div class="d-flex justify-content-center">
        <h2>Or log in with: </h2>
      </div>
      <div class="d-flex justify-content-center">
        <a href = "{% url 'social:begin' 'google-oauth2' %}" type="button" class="btn btn-warning btn-lg">Google (OSU)</a>
        <a href = "{% url 'social:begin' 'facebook' %}" type="button" class="btn btn-primary btn-lg">Facebook</a>
        <a href = "{% url 'social:begin' 'github' %}" type="button" class="btn btn-dark btn-lg">GitHub</a>
      </div>
    {% endif %}

  {% endblock %}
  </div>
  {%include "../components/footer.html"%}
</body>
</html>