{% load static %}
<!--------------------------------------------
<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
<body>
<div class="container-fluid">
<div class="row">
<div class="col-md-4  my-3" align="center">
--------------------------------------------------------------------->
	<div class="card" style="max-width:500px;">
		{% if user.profilePic %}
			<img class="card-img-top" src="{{ user.profilePic.url }}" alt="card-image"/>
		{% else %}
			<img class="card-img-top" src="{% static 'img/dog-icon.png' %}" alt="card-image"/>
		{% endif %}

		<div class="card-body text-center">
			<h4 class="card-title"> 
				{%if user.first_name == "" and user.last_name == "" %}
				{{ user.username }}
				{%else%}
				{{ user.first_name }} {{ user.last_name }} 
				{%endif%}
			</h4>
		    <ul class="list-group">
		      <li class="list-group-item"> Type: {{ user.get_user_type_display }} </li>
		      <li class="list-group-item"> Phone: {{ user.phone_number }} </li>
		      <li class="list-group-item"> Email: {{ user.email }} </li>
		      <li class="list-group-item"> Address: {{ user.street_number }} {{ user.street_name }} {{ user.city }} {{ user.state }}{{ user.zip }}</li>
		    </ul>
			<a href="#card_fold" class="btn btn-primary" data-toggle="collapse">More Actions</a>
			<div id="card_fold" class="collapse"> 
				<div class="btn-group">
					<button type="button" class="btn"><img src="{% static 'img/fav-button.png'%}" alt="fav" style="width:20%;"></button>
					<button type="button" class="btn"><img src="{% static 'img/setting-button.png' %}" alt="setting" style="width:20%;"></button>
					<button type="button" class="btn"><img src="{% static 'img/chat-button.png' %}" alt="chat" style="width:20%;"></button>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<!-------------------------------------------------
<div class="col-md-8 my-3">
</div>
  </body>
</html>
---------------------------------------------------------------->