{% load static %}
<!---------------------------------------------------------------------->
	<div class="card" style="max-width:500px;">
		{% if user.profilePic %}
			<img class="card-img-top" src="{{ user.profilePic.url }}" alt="card-image"/>
		{% else %}
			<img class="card-img-top" src="{% static 'img/dog-icon.png' %}" alt="card-image"/>
		{% endif %}

		<div class="card-body text-center">
			<h4 class="card-title"> 
				{%if user.first_name == "" and user.last_name == "" %}
				{{ user.username }}
				{%else%}
				{{ user.first_name }} {{ user.last_name }} 
				{%endif%}
			</h4>
		    <ul class="list-group">
		      <li class="list-group-item"> Type: {{ user.get_user_type_display }} </li>
		      <li class="list-group-item"> Phone: {{ user.phone_number }} </li>
		      <li class="list-group-item"> Email: {{ user.email }} </li>
		      <li class="list-group-item"> Address: {{ user.street_number }} {{ user.street_name }} {{ user.city }} {{ user.state }}{{ user.zip }}</li>
		    </ul>
		    {% if request.user.is_authenticated %}
		    	<div class="card-body text-center">
				{% if user.user_type == 'S' %}
				<a href="{% url 'pet:userpetsview' pk=user.id %}"><img src="{% static 'img/fav-button.png'%}" alt="fav" style="max-width:70px;"></a>
				<a href="{% url 'pet:email' pk=user.id %}"><img src="{% static 'img/chat-button.png' %}" alt="chat" style="max-width:70px"></a>
				{%endif%}
					<a href="{% url 'pet:edituser' pk=user.id %}"> <img src="{% static 'img/setting-button.png' %}" alt="setting" style="max-width:70px"></a> 
				</div>
				<!--a href="#card_fold" class="btn btn-primary" data-toggle="collapse">More Actions</a>
				<div id="card_fold" class="collapse"> 
					<div class="card-body text-center">
					</div>
				</div-->
			{% endif %}
		</div>
	</div>
<!----------------------------------------------------------------->