<div class="container-fluid p-5" align="center">
	<div>
		<h3>Log in</h3>
		<a href = "{% url 'social:begin' 'google-oauth2' %}" type="button" class="btn btn-warning btn-lg">Google (OSU)</a>
		<a href = "{% url 'social:begin' 'facebook' %}" type="button" class="btn btn-primary btn-lg">Facebook</a>
		<a href = "{% url 'social:begin' 'github' %}" type="button" class="btn btn-dark btn-lg">GitHub</a>
	</div>
	<hr style="width:50%;">
	<div style="max-width:80%;">
		<h3>or</h3>
		<form action="{% url 'login' %}" method="POST" class="needs-validation" novalidate>
			{% csrf_token %}
			<div class="form-group">
			<label for="username">Username:</label>
			<input type="username" class="form-control" placeholder="Enter username" id="username" name="username" required>
			</div>
			<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" placeholder="Enter password" id="password" name="password" required>
			</div>
			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
		</form>

	</div>

	<script>
		//https://www.w3schools.com/bootstrap4/bootstrap_forms.asp
		// Disable form submissions if there are invalid fields 
		(function() {
			'use strict';
			window.addEventListener('load', function() {
				// Get the forms we want to add validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function(form) {
					form.addEventListener('submit', function(event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
	
</div>

<!--
#1. https://simpleisbetterthancomplex.com/tutorial/2016/10/24/how-to-add-social-login-to-django.html
#2. https://scotch.io/tutorials/django-authentication-with-facebook-instagram-and-linkedin
#3. https://medium.com/trabe/oauth-authentication-in-django-with-social-auth-c67a002479c1
-->