
{% load static %}

<nav class="navbar navbar-expand-sm mb-3" style="background-color: #82f4f4df">
	<!-- brand/logo -->
	<a class="navbar-brand" href="{% url 'pet:index' %}"><img src="{% static 'img/dog-icon.png'%}" alt="logo" style="width:40px;filter:brightness(3);"></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="myToggleNav" aria-expanded="false" aria-label="Toggle Navigation">
		<span class="fa fa-bars"></span>
	</button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
		<ul class="navbar-nav">    
		<!-- standard navigation links -->
		<li class="nav-item"><a class="nav-link" href="{% url 'pet:index' %}"><b>Home</b></a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'pet:about' %}"><b>About Us</b></a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'pet:services' %}"><b>Our Services</b></a></li>
		<li class="nav-item"><a class="nav-link" href="https://www.paypal.com/paypalme2/findingfido"><b>Donate</b></a></li>
		<li class="nav-item"><a class="nav-link" href="https://www.petfinder.com/animal-shelters-and-rescues/volunteering-with-shelters-and-rescues/"><b>Volunteer</b></a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'pet:petall' %}"><b>Browse</b></a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'pet:pet_filter' %}"><b>Search</b></a></li>
	</ul>
	<!-- Profile-based navgiation links-->
	{% if request.user.is_authenticated %} <!--- conditional for logged in user-->
		{% if request.user.user_type == 'S' %} <!--- conditional to detect if shelter-->
		<!--authenticated navigation-->
		<ul class="nav navbar-nav ml-auto">
			{% if request.user.profilePic %}
			<img class="rounded-circle article-img" src="{{ request.user.profilePic.url }}" id="img" style="width:50px;height:50px;">
			{% else %}
			<img src="{% static 'img/hrtcenter-icon.png'%}" alt="profile-icon" style="width:70px;height:60px;">
			{% endif %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					<span class="fa fa-user-plus"></span><b>Shelter</b>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="{% url 'pet:userdetail' user.id %}">Account</a>
					<a class="dropdown-item" href="{% url 'pet:edituser' user.id %}">Settings</a>
					<a class="dropdown-item" href="{% url 'pet:createpet' %}">Add a Pet</a>
					<a class="dropdown-item" href="{% url 'pet:userpetsview' user.id%}">View Your Pets</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
				</div>
			</li>
		</ul>
		{% else %} <!--- conditional to detect if parent-->
		<!--authenticated navigation-->
		<ul class="nav navbar-nav ml-auto">
			{% if request.user.profilePic %}
			<img class="rounded-circle article-img" src="{{ request.user.profilePic.url }}" id="img" style="width:50px;height:50px;">
			{% else %}
			<img src="{% static 'img/hrthome-icon.png'%}" alt="profile-icon" style="width:50px;height:40px;">
			{% endif %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					<span class="fa fa-user-plus"></span><b>Parent</b>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="{% url 'pet:userdetail' user.id %}">Account</a>
					<a class="dropdown-item" href="{% url 'pet:edituser' user.id %}">Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
				</div>
			</li>
		</ul>
		{% endif %} <!--- end if for shelter vs parent-->
	{% else %} <!-- - conditional to detect if guest-->
	<!--guest navigation-->
		<ul class="nav navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'pet:createuser' %}"><span class="fa fa-user-plus"></span>Sign Up</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><span class="fa fa-sign-in"></span>Login</a></li>
		</ul>
	{% endif %} <!------>
</nav>

<script>
	(function() {
		'use strict';

		$(document).click(function (event) {
			if (!($(event.target).is('#navbar-collapse-first *'))
				$('.navbar-collapse-first').collapse('hide');
		});
	}(jQuery));
</script>