<!----------------------------------------
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
------------------------------------------------------------------------->
<div class="container-fluid p-5" align="center">
	<h3>Sign up</h3>
	<form action="{% url 'pet:createuser' %}" method="POST" class="needs-validation" novalidate>
		{% csrf_token %}
			<input type="hidden" name="user_type" value="P"/>
			<div class="form-row">
      <div class="col-md-6"><input type="text" class="form-control" placeholder="First Name*" name="first_name" required></div>
			<div class="col-md-6"><input type="text" class="form-control" placeholder="Last Name*" name="last_name" required></div>
      </div>
			<input type="text" class="form-control" placeholder="Username*" id="username" name="username" required>
			<input type="email" class="form-control" placeholder="Email address*" id="email" name="email" required>
			<input type="text" class="form-control" placeholder="Phone number" id="phone" name="phone_number">

			<h5>Address:</h5>
      <div class="form-row">
			<div class="col-md-6"><input type="text" class="form-control" placeholder="Street number" name="street_number"></div>
			<div class="col-md-6"><input type="text" class="form-control" placeholder="Street name" name="street_name"></div>
      </div>
			<input type="text" class="form-control" placeholder="Apartment/Suite" name="suite">
			<input type="text" class="form-control" placeholder="City" name="city">
			<input type="text" class="form-control" placeholder="State" name="state">
			<input type="text" class="form-control" placeholder="Zipcode" name="zip">

    	<h5>Password:</h5>
      <div class="form-row">
			<div class="col-md-6"><input type="password" class="form-control" placeholder="Enter password*" id="password" name="password" required></div>
			<div class="col-md-6"><input type="password" class="form-control" placeholder="Re-enter password*" id="password_confirm" name="password_confirm" required></div>
      </div>
      <br>
		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>

	<script>
		//https://www.w3schools.com/bootstrap4/bootstrap_forms.asp
		// Disable form submissions if there are invalid fields 
		//Note: Have not accounted for password match yet
		(function() {
			'use strict';
			window.addEventListener('load', function() {
				// Get the forms we want to add validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function(form) {
					form.addEventListener('submit', function(event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
</div>
<!----------------------------------------------------------------------------------------------------------------->
  </body>
</html>