<!------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
<!--------------------------------------------------------------------------->
	<h3 align="center">Describe the pet...</h3>
<div class="container-fluid p-5" align="left" style="width:80%;">

	<form action="/action_page.php" class="needs-validation" novalidate>
		<div class="form-group">
			<label for="pet-name">Name:</label>
			<input type="text" class="form-control col" placeholder="Pet*" name="pet-name" required>
		</div>

		<div class="form-group">
			<label for="pet-age">Age:</label>
			<input type="number" class="form-control col" placeholder="*" name="pet-age" required>
		</div>

		<div class="form-group">
			<label for="pet-sex">Sex:</label>
			<select class="form-control" name="pet-sex">
				<option></option>
				<option>Female</option>
				<option>Male</option>
				<option>Unknown</option>
			</select>
		</div>

		<div class="form-group">
			<label for="pet-type">Type:</label>
			<select class="form-control" name="pet-type">
				<option></option>
				<option>Dog</option>
				<option>Cat</option>
				<option>Other</option>
			</select>
		</div>

		<div class="form-group" name="pet-dispo" required>
			<label for="pet-dispo">Disposition:</label>
			<div class="form-check" >
				<label class="form-check-label">
				<input type="checkbox" class="form-check-input" value="">Good with children
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
				<input type="checkbox" class="form-check-input" value="">Good with other animals
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
				<input type="checkbox" class="form-check-input" value="">Animal must be on leash at all times
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
				<input type="checkbox" class="form-check-input" value="">Needs to be only animal in the home
				</label>
			</div>
			<div class="form-check" id="pet-disp-other">
				<label class="form-check-label">
				<input type="checkbox" class="form-check-input" value="">Other
				</label>
			</div>
			<input type="text" class="form-control form-control" for="pet-dispo-other" placeholder="Other disposition">
		</div>

		<div class="form-group">
			<label for="disposition">Breed:</label>
			<select class="form-control" name="pet-breed">
				<option></option>
				<option></option>
			</select>	
		</div>

		<div class="form-group">
			<label for="disposition">Availability:</label>
			<select class="form-control" name="pet-here">
				<option></option>
				<option>Available</option>
				<option>Pending</option>
				<option>Unavailable</option>
				<option>Adopted</option>
			</select>
		</div>

		<div class="form-group">
			<label for="disposition">Status:</label>
			<input type="text" class="form-control form-control" name="pet-status" placeholder="Status">
		</div>
			<div class="form-group">
			<label for="disposition">Description:</label>
			<textarea class="form-control" rows="5" name="pet-descip" placeholder="Full description of the pet."></textarea>
		</div>

		<div class="form-group">
			<input type="file" class="form-control-file" name="pet-pic">
		</div>

		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>

	<script>
		//https://www.w3schools.com/bootstrap4/bootstrap_forms.asp
		// Disable form submissions if there are invalid fields 
		(function() {
			'use strict';
			window.addEventListener('load', function() {
				// Get the forms we want to add validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function(form) {
					form.addEventListener('submit', function(event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
</div>
<!------------------------------------------------------------------------------------------->
  </body>
</html>
