<!------------------------------------------------
<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
	<div class="container-fluid">
	<div class="row">
	    <div class="col-md-4  my-3" align="center">
	    </div>
	    <div class="col-md-8 my-3">
----------------------------------------------------------------->
{% load static %}


<div class="col-sm m-3">
	<div class="card" style="width:300px;height:450px;">
		<div class="card-body text-center">
			<!--profile/main pic of pet-->
			<!--img class="card-img-top" src="{% static 'img/dog-icon.png' %}" alt="card-image"style="max-width:200px; max-height:200px;"-->
			<div class="card-body text-center">
				{% if obj.picture_set.all %}
					{% for petpic in obj.picture_set.all|slice:":1" %}
						{% if petpic.photo.url %}
						<img src="{{ petpic.photo.url }}" class="img-thumbnail" style="max-width:250px;max-height:250px">
						{% else %}
						<img src="{% static 'img/paw-icon.png'%}" class="img-thumbnail" style="max-width:250px;max-height:250px">
						{% endif %}
					{% endfor %}
				{% else %}
					<img src="{% static 'img/paw-icon.png'%}" class="img-thumbnail">
				{% endif %}
				<h4 class="card-title"><a href="{% url 'pet:pet_profile' obj.id %}">{{ obj.name }}</a></h4>
				<p>{{ obj.get_pet_type_display }}</p>
				<p>{{ obj.get_availability_display }}</p>

				{% if request.user.is_authenticated %}
					{% if obj.users.all %}
						{% for u in obj.users.all %}
							{% if u.id == request.user.id and u.user_type == 'S' %}
								<a class="btn btn-primary" href="{% url 'pet:editpet' obj.id %}" role="button">Edit</a>
								<a class="btn btn-primary" href="{% url 'pet:petpic' obj.id %}" role="button">Add Photo</a>
							{% elif u.id == request.user.id and u.user_type == 'P' %}
								<a class="btn btn-danger" href="{% url 'pet:remove_favorite' obj.id %}" role="button">Favorited</a>
							{% endif %}
						{% endfor %}

						{% if request.user not in obj.users.all %}
							<a class="btn btn-secondary" href="{% url 'pet:add_favorite' obj.id %}" role="button">Add Favorite</a>
						{% endif %}
					{% endif %}

				{% endif %}
			</div>
		</div>
	</div>
</div>
<!------------------------------------------------------
		</div>
	</div>
	</div>
</body>
</html>
----------------------------------------------------------->