<!------------------------------------------------
<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
	<div class="container-fluid">
	<div class="row">
	    <div class="col-md-4  my-3" align="center">
	    </div>
	    <div class="col-md-8 my-3">
----------------------------------------------------------------->
<div class="col-sm m-3">
	<div class="card" style="width:400px;height:500px;">
		<div class="card-body text-center">
			<div class="card-body text-center">
				<h4 class="card-title">{{ obj.description }}</h4>
				<img src="{{ obj.photo.url }}" class="img-fluid" style="max-width:400px;max-height:400px"/>
			</div>
		</div>
	</div>
</div>
<!------------------------------------------------------
		</div>
	</div>
	</div>
</body>
</html>
----------------------------------------------------------->