<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
   <!-- Navigation Bar -->

<body>
<!-- Page -->
<div class="container-fluid">
<div class="row">
<!-- Left Half -->
<div class="col-md-4  my-3" align="center">
	<!-- Left Half -->
<!----------------------------------------------------------------------------------------------------------------->
	<div class="card" style="width:80%;">
		<img class="card-img-top" src="../img/cat-pet.jpg" alt="card-image">
		<div class="card-body text-center">
			<h4 class="card-title"><a class="nav-link" href="#">Shelter Name</a></h4>
			<p class="card-text">Address</p>
			<div class="btn-group">
				<button type="button" class="btn"><img src="../img/pet-plus-icon.png" alt="make_pet" style="width:100%;"></button>
				<button type="button" class="btn"><img src="../img/setting-button.png" alt="setting" style="width:100%;"></button>
				<button type="button" class="btn"><img src="../img/chat-button.png" alt="chat" style="width:100%;"></button>
			</div>
			<br>
			<a href="#demo" class="btn btn-primary" data-toggle="collapse">More</a>
			<div id="demo" class="collapse"> description</div>
		</div>
		</div>
	</div>
</div>
<!----------------------------------------------------------------------------------------------------------------->
	<!-- Right Half -->
<div class="col-md-8 my-3">
</div>
  </body>
</html>