<!----------------------------------------------------------------------->
{% load static %}
{% load tz %}

     <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0" align="center">
        <li>
            {%if obj.pet.getprofile %}
                <a href="{% url 'pet:pet_profile' obj.pet.id %}">
               <img src="{{ obj.pet.getprofile.photo.url }}" class="img-thumbnail" style="max-width:100px;max-height:100px">
                </a>
            {%else%}
                <a href="{% url 'pet:pet_profile' obj.pet.id %}">
                    <img src="{% static 'img/paw-icon.png'%}" class="img-thumbnail" style="max-width:100px;max-height:100px">
                </a>
            {%endif%}
        </li>
        <li class="list-group-item border-0">
            <ul class="list-group-flush" style="padding-inline-start:5px">
                <li class="list-group-item" align="left">
                    <a href="{% url 'pet:pet_profile' obj.pet.id %}">{{ obj.pet.name }}</a> on {{ obj.created_at|localtime }}
                        {% for user in obj.pet.users.all %}
                            {% if user.user_type == 'S' %}
                                in {{ user.get_state_display }}
                            {% endif %}
                        {% endfor %}
                </li>
                <li class="list-group-item" align="left">
                    {{ obj.status }}
                </li>
            </ul>
        </li>

     </ul>

<!---------------------------------------------------------------->