<!DOCTYPE html>
<html lang="en">
<head>
    	{% include "../components/style.html" %}
</head>
<body>
  {% include "../components/nav-bar.html" %}
  <div class="container p-5">
    <div class="d-flex justify-content-center">
      <p>
      SHELTER
      <br>
      You are logged in as {{ user.username }}.
      <br>
      <a href="{% url 'logout' %}">Logout</a>
      <br>
      <a href="{% url 'pet:index' %}">Home</a>
      </p>
    </div>
  </div>

   {%include "../components/footer.html"%}
</body>
</html>