<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../components/style.html" %}
    <style>

  </style>
  </head>
<body>
	{% include "../components/nav-bar.html" %}

  <div class="container p-5">
    <div class="row mx-auto"  style = "max-width:500px">
      <div class="col" align="center">
        {% if user.profilePic %}
          <img src="{{ user.profilePic.url }}" class="img-thumbnail" style="max-width:300px;max-height:300px"/>
        {% endif %}
        <h5> User Profile: </h5>
        <ul class="list-group">
          <li class="list-group-item"> Name: {{ user.first_name }} {{ user.last_name }} </li>
          <li class="list-group-item"> Type: {{ user.get_user_type_display }} </li>
          <li class="list-group-item"> Phone: {{ user.phone_number }} </li>
          <li class="list-group-item"> Email: {{ user.email }} </li>
          <li class="list-group-item"> Address: {{ user.street_number }} {{ user.street_name }} {{ user.city }} {{ user.state }}{{ user.zip }}</li>
          <li class="list-group-item"> Created on: {{ user.created_at }} </li>
          <li class="list-group-item"> Updated on: {{ user.updated_at }} </li>
        </ul>
      </div>
    </div>
    <hr style="width:50%">
    <div class="d-flex justify-content-center">
      {% if user.user_type == 'S' %}
        <h5> List of Pets: </h5>
      {% else %}
        <h5> List of Pets Favorited: </h5>
      {% endif %}
    </div>
  </div>
  <div class="row mx-auto">
    {% for pet in pets %}{% with obj=pet%}
      {%include "../components/pet_profile_quick.html" %}
    {%endwith %}{% endfor %}
  </div>

  {%include "../components/footer.html"%}
</body>
</html>