<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Pets</title>
  {% include "../components/style.html"%}
</head>
<body>
  {% include "../components/nav-bar.html"%}
  <div class="container p-5">
    <div class="d-flex justify-content-center">
      {% if request.user.user_type == 'S' %}
        <h2>List of Pets In Shelter</h2>
      {% else %}
        <h2>List of Pets Favorited</h2>
      {% endif %}
    </div>
  </div>
  <div class="row" align ="center">
    {% for obj in pets %}
      {% include "../components/pet_profile_quick.html"%}
    {% endfor %}
  </div>

   {%include "../components/footer.html"%}

</body>
</html>