<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../components/style.html" %}
    <style>
  img {
    border-radius: 50%;
    max-width: 25%;
  }
  </style>
  </head>
<body>
	{% include "../components/nav-bar.html" %}
    <a href="{% url 'pet:edituser' pk=user.id %}"> Click here to update your details! </a>
  <div class="container">
      {% if user.profilePic %}
    <img src="{{ user.profilePic.url }}" />
      {% endif %}

    <h5> User Profile: </h5>
    <ul class="list-group">
        <li class="list-group-item"> Name: {{ user.first_name }} {{ user.last_name }} </li>
      <li class="list-group-item"> Username: {{ user.username }} </li>
      <li class="list-group-item"> Type: {{ user.get_user_type_display }} </li>
      <li class="list-group-item"> Phone: {{ user.phone_number }} </li>
      <li class="list-group-item"> Email: {{ user.email }} </li>
      <li class="list-group-item"> Address: {{ user.street_number }} {{ user.street_name }} {{ user.city }} {{ user.state }} {{ user.zip }}</li>
    </ul>
      {% if user.user_type == 'S' %}
          <h5> List of Pets: </h5>
      {% else %}
          <h5> List of Pets Favorited: </h5>
      {% endif %}
    <ol>
      {% for pet in pets %}
      <li><a href="{% url 'pet:pet_profile' pet.id %}">Name: {{ pet.name }}, Type: {{ pet.get_pet_type_display }}</a></li>
      {% endfor %}
    </ol>
  </div>

   {%include "../components/footer.html"%}

</body>
</html>