<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../components/style.html" %}
  </head>
<body>
	{% include "../components/nav-bar.html" %}
    <a href="{% url 'pet:edituser' pk=user.id %}"> Click here to update your details! </a>
  <div class="container" align ='center'>
    {% include "../components/card_profile.html" %}
    <h5>
      {% if user.user_type == 'S' %}
        List of Pets:
      {% else %}
        List of Pets Favorited: 
      {% endif %}
    </h5>
    <div class="row" align ="center"> 
      {% for obj in pets %}
        {% include "../components/pet_profile_quick.html"%}
      {% endfor %}
    </div>
  </div>
   {%include "../components/footer.html"%}
</body>
</html>