<!doctype html>
<html lang="en">
  <head>
    <title></title>
    	{% include "../components/style.html" %}
  </head>
  <body>
    {% include "../components/nav-bar.html" %}
    <div class="container p-5">
      <div class="d-flex justify-content-center">
        <h1>Send Email</h1>
      </div>
      <div class="d-flex justify-content-center">
        {% load crispy_forms_tags %}
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
      <p>{{ msg }}</p>
      <p>{{ email_list }}</p>
    </div>

  </body>
</html>