{% load static %}
<!---->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Main Page</title>
	{% include "../components/style.html" %}
</head>
<body>
	<!-- Title page navigation -->
	{% include "../components/nav-bar.html" %}

	{% if messages %}
    	{% for message in messages %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
			{{ message }}
		</div>
	    {% endfor %}
	{% endif %}

	<!--Page-->
	<div class="container-fluid my-3" align="center">
		<h1>
			<img src="{%static 'img/dog-icon.png'%}" alt="logo" style="width:30px;filter:brightness(0);transform:scaleX(-1);">
			<b>Finding Fido Project</b>
			<img src="{%static 'img/cat-icon.png'%}" alt="logo" style="width:30px;filter:brightness(0);"></h1>
		<h4> <i>... Ready to find your Fido?</i> </h4>

		<div id="title-slide" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ul class="carousel-indicators">
				<li data-target="#title-slide" data-slide-to="0" class="active"></li>
				<li data-target="#title-slide" data-slide-to="1"></li>
				<li data-target="#title-slide" data-slide-to="2"></li>
			</ul>
			<!-- The slideshow -->
			<div class="carousel-inner" role="listbox" style="max-height:300px;background-color:#99999999;filter:grayscale(80)">
				<div class="carousel-item active">
					<img src="{%static 'img/stock-dog.jpg'%}" alt="stock-dog" style="max-height:300px">
				</div>
				<div class="carousel-item">
					<img src="{%static 'img/stock-cat.jpg'%}" alt="stock-cat" style="max-height:300px">
				</div>
				<div class="carousel-item">
					<img src="{%static 'img/stock-bird.jpg'%}" alt="stock-bird" style="max-height:300px">
				</div>
			</div>
			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#title-slide" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#title-slide" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>

		<script language="JavaScript" type="text/javascript">
			$(document).ready(function(){
				$('.carousel').carousel({
					interval: 2000
				})
			});    
		</script>

		<hr style="width:50%;">

		{% if request.user.is_authenticated %}
		<h1> Welcome back!</h1>
		{% else %}
		<h1> Join us!</h1>
		<div class="row">
		    <div class="col-md-2" align="center">
			</div>
		    <div class="col-md-4" align="center"><hr>
		    	<h2> Create an account?</h2>
				{%include "../components/parent-signup.html"%}
				<a href="{% url 'pet:createuser' %}"> <b>If you want to sign up as a shelter, click here.</b></a>
			</div>
		    <div class="col-md-4" align="center"><hr>
		    	<h2>Sign in quick!</h2>
				{%include "../components/login.html"%}
			</div>
		    <div class="col-md-2" align="center">
			</div>
		</div>
		{% endif %}
	</div>
	<hr style="width:30%;">
	{% include "../components/indexstatus.html" %}
	<br>
	<div class="container text-center" align="center" style="width:50%">
	<a class="btn btn-primary btn-sm" href="{% url 'pet:status_list' %}" role="button">View More Recent Updates</a>
	</div>

	<a href="#hidden" class="btn btn-outline-primary btn-sm" data-toggle="collapse">.</a>
		<div id="hidden" class="collapse">
      <a href="{% url 'pet:feed' %}" class="list-group-item"><span class="fa fa-rss"></span>Click here to subscribe feed!</a>
		</div>
	</div>
   <!-- -->
   {%include "../components/footer.html"%}
  </body>
</html>
	<!-- -->