<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Pet Delete</title>
<meta charset="UTF-8">
{% include "../components/style.html" %}
</head>
<body>
  {% include "../components/nav-bar.html" %}
  <div class="container-fluid p-5" align="center">
    <form method="post">{% csrf_token %}
      <p><h4> Are you sure you want to remove the pet <b><i>{{ object }}?</i></b></h4></p>
      <p> <b>***Once you remove a pet, it cannot be restored!  If it needs to be added back, it must be recreated new.***</b></p>
      <button  type="submit"  class="btn btn-danger" value="Confirm">Confirm</button>
      <a class="btn btn-outline-primary " href="{{request.META.HTTP_REFERER}}" role="button">Go back</a>
    </form>
  </div>
  {%include "../components/footer.html"%}
</body>
</html>