<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../components/style.html" %}
  </head>
<body>
	{% include "../components/nav-bar.html" %}
  <div class="container">
    {% if request.user.is_authenticated %}

    {% endif %}
    <h5> Pet Profile: </h5>
    <ul class="list-group">
      <li class="list-group-item"> Name: {{ pet.name }} </li>
      <li class="list-group-item"> Type: {{ pet.get_pet_type_display }} </li>
      <li class="list-group-item"> Age: {{ pet.age|floatformat }} </li>
      <li class="list-group-item"> Sex: {{ pet.get_sex_display }} </li>
      <li class="list-group-item"> Breed: {{ pet.get_breed_display }} </li>
      <li class="list-group-item"> Availability: {{ pet.get_availability_display }} </li>
      <li class="list-group-item"> Disposition: {{ pet.get_disposition_display }} </li>
      <li class="list-group-item"> Status: {{ pet.status }} </li>
      <li class="list-group-item"> Description: {{ pet.description }} </li>
      <li class="list-group-item"> Shelter:
                                            {% for u in pet.users.all %}
                                              <a href="{% url 'pet:user_profile' u.id %}">{{ u.first_name }} {{ u.last_name }}</a>
                                            {% endfor %}
      </li>
    </ul>
    
    <h5> List of Photos Associated: </h5>
    {% for obj in picture %}
      <div>
      <p>{{ obj.description }}</p>
      <img src="{{ obj.photo.url }}" class="img-fluid" />
      </div>
    {% endfor %}
  </div>
   {%include "../components/footer.html"%}

</body>
</html>