<!doctype html>
<html lang="en">
  <head>
    {% include "../components/style.html" %}
  </head>
  <body>
    {% include "../components/nav-bar.html" %}

    <div class="container-fluid" align="center">
      <div class="row"  style = "max-width:35%;">
        <div class="col">
          <h5> Pet Search: </h5>
          {% load crispy_forms_tags %}
          <form method="get">
            {{ filter.form.name__icontains | as_crispy_field }}
            {{ filter.form.pet_type | as_crispy_field }}
            <div class="form-row">
            <div class="form-group col-md-6 mb-0">{{ filter.form.age__gte | as_crispy_field }}</div>
            <div class="form-group col-md-6 mb-0">{{ filter.form.age__lte | as_crispy_field }}</div>
            </div>
            {{ filter.form.breed | as_crispy_field }}
            {{ filter.form.sex | as_crispy_field }}
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
      </div>
    </div>
    <h3>Results</h3>
    <div class="row" align ="center"> 
        {% for obj in filter.qs %}
        <!--<li><a href="{% url 'pet:pet_profile' obj.id %}">Name: {{ obj.name }}, Type: {{ obj.get_pet_type_display }}</a></li>-->
        {% include "../components/pet_profile_quick.html"%}
        {% endfor %}
    </div>
  </div>
  </body>
</html>