<!doctype html>
<html lang="en">
  <head>
    <title>Add Pet</title>
    	{% include "../components/style.html" %}
  </head>
  <body>
  	{% include "../components/nav-bar.html" %}
    <div class="container p-5">
      <div class="d-flex justify-content-center">
        <h1>Create Pet Page</h1>
      </div>
      <div class="row mx-auto" style="max-width:500px">
        <form  method="post">
          {% load crispy_forms_tags %}
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">{{ form.name | as_crispy_field }}</div>
            <div class="form-group col-md-6 mb-0">{{ form.age | as_crispy_field }}</div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">{{ form.sex | as_crispy_field }}</div>
            <div class="form-group col-md-6 mb-0">{{ form.pet_type | as_crispy_field }}</div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">{{ form.breed | as_crispy_field }}</div>
            <div class="form-group col-md-6 mb-0">{{ form.availability | as_crispy_field }}</div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mb-0">{{ form.disposition | as_crispy_field }}</div>
            <div class="form-group col-md-6 mb-0">{{ form.status | as_crispy_field }}</div>
          </div>
          {{ form.description | as_crispy_field }}
          <button  type="submit"  class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    {%include "../components/footer.html"%}
  </body>
</html>