<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet List</title>
    	{% include "../components/style.html" %}
</head>
<body>
	{% include "../components/nav-bar.html" %}
    <h1>Pets</h1>
<ul>
{% for pet in object_list %}
    <li><a href="{% url 'pet:petdetail' pet.id %}">{{ pet.name }}</a></li>
{% empty %}
    <li>No pets yet.</li>
{% endfor %}
    <br><br>
    <br><a href="{% url 'pet:index' %}">Home</a>
</ul>
</body>
   {%include "../components/footer.html"%}

</html>