<!DOCTYPE html>
<html lang="en">
<head>
  {% include "../components/style.html"%}
</head>
<body>
  {% include "../components/nav-bar.html"%}
  You have successfully created a pet named: {{ pet.name }} ( {{ pet.get_pet_type_display }} )
  <br> <a href="{% url 'pet:petpic' pk=pet.id %}">Click here to add a picture of your pet!</a>
  <br> Pet Details:
  <br> Age: {{ pet.age|floatformat }}
  <br> Sex: {{ pet.get_sex_display }}
  <br> Breed: {{ pet.get_breed_display }}
  <br> Availability: {{ pet.get_availability_display }}
  <br> Disposition: {{ pet.get_disposition_display }}
  <br> Status: {{ pet.status }}
  <br> Description: {{ pet.description }}
  {% for obj in picture %}
  <br> <img src="{{ obj.photo.url }}" alt="img" style="max-width:50%">
  {% endfor %}

</body>
</html>