<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    	{% include "../components/style.html" %}
  </head>
  <body>
  	{% include "../components/nav-bar.html" %}
    <div class="row">
      <div class="col"></div>
        <div class="col">
          {% load crispy_forms_tags %}
          <h1>Add Pet Profile Picture</h1>
          <form  method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form|crispy }}
            <button  type="submit"  class="btn btn-primary">Submit</button>
          </form>
        </div>
      <div class="col"></div>
    </div>
     {%include "../components/footer.html"%}

  </body>
</html>